@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@700&display=swap');

body{
    background: #F3FBF8; 
 }
 h1{position: absolute;
    width: 783px;
    height: 90px;
    left: 328.5px;
    top: 241.97px;
    
    font-family: Rosario;
    font-style: normal;
    font-weight: bold;
    font-size: 70px;
    line-height: 90px;
    /* identical to box height, or 129% */
    
    
    color: #222222;}

.listik {position: absolute;
    width: 612px;
    height: 408px;
    left: -60.72px;
    top: 111.97px;
    }
.avatar {position: absolute;
    width: 862.18px;
    height: 465.52px;
    left: 120.19px;
    top: 500.6px;
}